@if (Session["ID"]!=null)
{
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + Session["Login"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>@Html.ActionLink("LogOut", "LogOut", "Authenticate", routeValues: null, htmlAttributes: new { id = "LogOutLink" })</li>
        </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign on", "CreateUser", "Authenticate", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Authenticate", "Authenticate", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
