@if (Session["ID"] != null)
{
    if (Session["Type"].ToString() == "Student")
    {
        <li>
            @Html.ActionLink("Students", "Index", "Student")
        </li>
    }
    else
    {
        <li>@Html.ActionLink("Instructors", "Index", "Instructor")</li>
        <li>@Html.ActionLink("Lessons", "Index", "CourseSessions")</li>
        <li>@Html.ActionLink("Courses", "Index", "Course")</li>
    }
}

